.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 414px;
  display: flex;
  padding: 18px 15px 20px 15px;
  background-color: white;
  &__left {
    flex: 0.7;
    &-title {
      @include font(20px, 30px, 500, #000000)
    }
  }
  &__right {
    display: flex;
    flex: 0.3;
    justify-content: flex-end;
    &-image {
      cursor: pointer;
      &_first {
        margin-right: 10px;
      }
    }
  }
}